{% extends "base.html" %}
{% block content %}

<div class="page-container">

    <h1>🛠 Cyber Security Toolkit</h1>

    <p>
        A collection of practical cybersecurity tools to improve your online security and learn cyber concepts.
    </p>

    <!-- SECURITY UTILITIES -->

    <h2 class="tool-category">🔒 Security Utilities</h2>

    <div class="tools-grid">

        <div class="tool-card">
            <h3>🔐 Password Strength Analyzer</h3>
            <p>Analyze password strength and receive security recommendations.</p>
            <a href="/password-check" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>🔑 Password Generator</h3>
            <p>Generate strong random passwords instantly.</p>
            <a href="/password-generator" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>#️⃣ SHA-256 Generator</h3>
            <p>Create SHA-256 hashes from text.</p>
            <a href="/sha256" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>📁 File Hash Checker</h3>
            <p>Generate SHA-256 checksum for uploaded files.</p>
            <a href="/file-hash" class="tool-btn">Open Tool</a>
        </div>

    </div>

    <!-- NETWORK TOOLS -->

    <h2 class="tool-category">🌐 Network Tools</h2>

    <div class="tools-grid">

        <div class="tool-card">
            <h3>🌐 URL Safety Checker</h3>
            <p>Detect phishing or suspicious websites.</p>
            <a href="/url-check" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>🌍 IP Intelligence</h3>
            <p>Analyze IP addresses to identify country,city, 
                ISP,organization,timezone and geolocation.</p>
            <a href="/ip-intelligence" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>🌍 DNS Lookup</h3>
            <p>Find IP address and DNS information of any domain.</p>
            <a href="/dns-lookup" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>📡 WHOIS Lookup</h3>
            <p>Retrieve domain registration details.</p>
            <a href="/whois-lookup" class="tool-btn">Open Tool</a>
        </div>

        <div class="tool-card">
            <h3>📧 Email Header Analyzer</h3>
            <p>Analyze email headers to identify sender,SPF,DKIM,DMARC and routing information.</p>
            <a href="/email-header" class="tool-btn">Open Tool</a>
        </div>

    </div>

    <!-- SOC OPERATIONS -->

    <h2 class="tool-category">⚙ SOC OPERATIONS</h2>

    <div class="tools-grid">

        <div class="tool-card">
            <h3>📊 SIEM Log Viewer</h3>
            <p>Analyze log files and detect suspicious activities including failed logins,
                SQL Injection, XSS and other threats.</p>
            <a href="/siem-logs" class="tool-btn">Open Tool</a>
        </div>

    

    </div>

    

</div>

{% endblock %}